<h1>Edit Property</h1>

<form action="/posts/<%= @post.id %>/edit" method="POST">
	<input type="hidden" name="_method" value="patch">
	<label>Title: </label>
	<input type="text" name="title" value="<%= @post.title %>"><br>
	<label>Content: </label>
	<textarea name="body"><%= @post.body %></textarea><br>
	<input type="submit" value="Edit property">
</form>
