<h1>Create New Booking</h1>
<form action="/posts/<%= @post.id %>/booking" method="POST">
	<label>Message: </label>
	<textarea name="message"></textarea><br>
	<input type="submit" value="Create Booking">
</form>
